<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user_file.name %>
</p>

<p>
  <b>Size:</b>
  <%= @user_file.size %>
</p>

<p>
  <b>File:</b>
  <%= @user_file.file_location %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @user_file.thumb_location %>
</p>

<p>
  <b>Description:</b>
  <%= @user_file.description %>
</p>


<%= link_to 'Edit', edit_user_file_path(@user_file) %> |
<%= link_to 'Back', user_files_path %>
